<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
 <div class="container">
    <div class="article_panel">
        <h3 class="title"></h3>
        <p class="article_authors"></p>
        <div class="article_summary">Özet
            <p><%=publication.summary %></p>
        </div>
        <div class="article_keywords">
            <p><%=publication.publicationKeywords %></p>
        </div>
        <div class="article_citations">
            <p>lsmaflm</p>
        </div>

        
    </div>
 </div>



</body>
</html>