body{
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.input-area{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 75px;
}
#form-id{
  max-width: 800px;
  display: flex;
  flex-direction: row;
  flex: auto;
}
#form-id label{
  width: 125px;
}
